.existing-to-dos input[readonly] {
   background-color: white; 
   outline: 0 !important;
   -webkit-appearance: none !important;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border-color: #ccc;
}

.existing-to-dos input[readonly]::-webkit-input-placeholder {
    color: black !important;
}

.existing-to-dos input[readonly]:-moz-placeholder {
    color: black !important;
}

.existing-to-dos input[readonly]::-moz-placeholder {
    color: black !important;
}

.existing-to-dos input[readonly]:-ms-input-placeholder {
    color: black !important;
}
